/* 768px -> 992px */
@media only screen and (max-width: 992px){
   
   .navbar{
       flex-direction: column;

   }
   .logo{
       display:none;
      
   }
    .slide-1{   
        margin-top: 0;
    }
    .text{
        margin-top: 60px;
    }
    .dichvu{
        height: 20.1rem;
    }
    .dichvu button{
        padding:5px 20px;
    }
    .toggle{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    }
    #nv{
    top: 0;
    left: 0;
    margin-left: 0;
    background-color: rgb(184, 184, 69);
    height: 100vh;
    width: 250px;
    align-items: flex-start;
    transition: all .7s;
    transform: translateX(-100%);
    /* transform: translateX(0px); */
    z-index: 10;
    }
    .menu{
        display:block;
    }
    .menu li{
        margin-left: 0;
         margin-top: 20px;
    }
    .bg-responsive{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #a0272754;
        z-index: 9;
    }
    
}
@media only screen and (max-width:576px) {
   .toggle{
       display: block;
   }
}